# IDE
.idea

# App level
.env
.notes
logs
output/*
!output/*/.gitkeep
.trash
.vscode
*.sqlite3
# Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# LangGraph API aggregates
.langgraph_api
data

# Misc
tmp
