services:
  python:
    container_name: "ddev-${DDEV_SITENAME}-python"
    image: "python:3.12-slim-bookworm-${DDEV_SITENAME}-built"
    build:
      context: .
      dockerfile_inline: |
        ARG PYTHON_DOCKER_IMAGE="scratch"
        FROM $${PYTHON_DOCKER_IMAGE}
        RUN pip install --no-cache-dir poetry
      args:
        PYTHON_DOCKER_IMAGE: python:3.12-slim-bookworm
    labels:
      com.ddev.site-name: ${DDEV_SITENAME}
      com.ddev.approot: ${DDEV_APPROOT}
      traefik.enable: "true"
      traefik.http.services.${DDEV_SITENAME}-python.loadbalancer.server.port: "8000"
      traefik.http.routers.${DDEV_SITENAME}-python.rule: "Host(`${DDEV_SITENAME}.ddev.site`)"
      traefik.http.routers.${DDEV_SITENAME}-python.entrypoints: "websecure"
      traefik.http.routers.${DDEV_SITENAME}-python.tls: "true"
    restart: "no"
    ports:
      - "8000:8000" #<host_port>:<container_port>
    environment:
      - PYTHONUNBUFFERED=1
      - POETRY_VIRTUALENVS_CREATE=false
    volumes:
      - ".:/mnt/ddev_config"
      - "../:/var/www/html:cached"
      - "ddev-python-packages:/usr/local/lib/python3.12/site-packages"
      - "ddev-python-cache:/root/.cache"
    working_dir: /var/www/html
    command: sleep infinity

volumes:
  ddev-python-packages:
  ddev-python-cache: